matplotlib
numpy
pandas
scikit-learn
scipy
seaborn
sklearn
torch
rpy2
tqdm
tensorboard
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
pytorch-metric-learning
umap-learn[plot]
faiss-gpu

# baselines
edit-distance
https://github.com/Aalto-LeTech/greedy-string-tiling/archive/master.zip



# OPTIONAL
ipython
jupyter
