matplotlib
numpy
pandas
Cython
scikit-learn
scipy
seaborn
sklearn
torch
# rpy2
tqdm
tensorboard
# torch-scatter
# torch-sparse
# torch-cluster
# torch-spline-conv
# torch-geometric
pytorch-metric-learning
umap-learn[plot]
faiss-cpu
networkx

# baselines
python-igraph
wwl
edit-distance
git+https://github.com/rvsia/scored-greedy-string-tiling
git+https://github.com/bsmietanka/GMatch4py
git+https://github.com/apluslms/greedy-string-tiling.git

# OPTIONAL
ipython
jupyter
